@suzu-grey: #1B2432;
@suzu-black: #4B5267;
@suzu-cream: #F1FAEE;
@suzu-magenta: #92374D;
@suzu-lightblue: #7B9EA8;

html, body, div.app-container {
  height: 100%;
  min-height: 100%;
  margin: 0;
  background-color: @suzu-cream;
  color: @suzu-black;
}
