.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


div.suzu-checkin-row {
  border-color: #152820;
  margin: 0;
  padding: 10px;
}

div.suzu-checkin-row:nth-child(even){
  background-color: #CAE3D9;
}

div.suzu-checkin-row:nth-child(odd){
  background-color: #F2F8F5;
}

div.suzu-checkin-row.highlight{
  background-color: #ffffff;
  border: 2px dashed #5DA30C;
}
div.suzu-checkin-row.highlight .btn-success:after, div.suzu-checkin-row.highlight .btn-danger:after{
  content:" \23CE"

}
.suzu-checkin-row h4 {
  color: #34789a;
}

.presence-counter {
  font-size: 2em;
  text-align: center;
  color: white;
  padding: 2px;
  font-weight: bold;
}

.presence-label {
  color: white;
  text-align: center;
  padding: 1px;
  font-size: smaller;
}

